.logo{
    width:150px;
    height:auto;
}
.backButton{

display:inline-flex;
align-items:center;
gap:8px;

color:white;
text-decoration:none;

margin-bottom:20px;

font-size:18px;

}

.backButton:hover{

color:#D4AF37;

}
